In [1]:
%load_ext lab_black
import pandas as pd
from IPython.display import JSON
import warnings
import ast

warnings.filterwarnings("ignore")

In [140]:
df = pd.read_csv("world_cup_2022_catar.csv")
df.shape

(64, 25)

In [7]:
df.head(1)

,stage,date,pens,pens_home_score,pens_away_score,team_name_home,team_name_away,team_home_score,team_away_score,possession_home,...,duels_won_home,duels_won_away,prediction_team_home_win,prediction_draw,prediction_team_away_win,prediction_quantity,location,events_list,lineup_home,lineup_away
0,Final,18/12/2022,True,4,2,Argentina,France,3,3,54%,...,40%,60%,64%,3%,33%,1002332,Lusail Iconic Stadium,"[{'event_team': 'home', 'event_time': "" 23' "",...","[{'player_name': ' Di María ', 'player_number'...","[{'player_name': ' Giroud ', 'player_number': ..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   stage                     64 non-null     object
 1   date                      64 non-null     object
 2   pens                      64 non-null     bool
 3   pens_home_score           64 non-null     object
 4   pens_away_score           64 non-null     object
 5   team_name_home            64 non-null     object
 6   team_name_away            64 non-null     object
 7   team_home_score           64 non-null     int64
 8   team_away_score           64 non-null     int64
 9   possession_home           64 non-null     object
 10  possession_away           64 non-null     object
 11  total_shots_home          64 non-null     int64
 12  total_shots_away          64 non-null     int64
 13  shots_on_target_home      64 non-null     int64
 14  shots_on_target_away      64 non-null     int64
 15  duels_won_home            64 non-null     object
 16  duels_won_away            64 non-null     object
 17  prediction_team_home_win  64 non-null     object
 18  prediction_draw           64 non-null     object
 19  prediction_team_away_win  64 non-null     object
 20  prediction_quantity       64 non-null     int64
 21  location                  64 non-null     object
 22  events_list               64 non-null     object
 23  lineup_home               64 non-null     object
 24  lineup_away               64 non-null     object
dtypes: bool(1), int64(7), object(17)
memory usage: 12.2+ KB

In [5]:
df.describe()

,team_home_score,team_away_score,total_shots_home,total_shots_away,shots_on_target_home,shots_on_target_away,prediction_quantity
count,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,6.400000e+01
mean,1.578125,1.109375,11.296875,11.453125,4.312500,3.765625,4.036118e+05
std,1.551289,1.055856,5.088673,5.866043,2.617857,2.729860,2.001993e+05
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.304210e+05
25%,0.000000,0.000000,8.000000,7.750000,3.000000,2.000000,2.321788e+05
50%,1.000000,1.000000,10.500000,10.500000,4.000000,3.000000,3.639255e+05
75%,2.000000,2.000000,14.000000,14.000000,6.000000,5.000000,5.351200e+05
max,7.000000,4.000000,26.000000,32.000000,10.000000,12.000000,1.002332e+06

In [8]:
df.columns

Index(['stage', 'date', 'pens', 'pens_home_score', 'pens_away_score',
       'team_name_home', 'team_name_away', 'team_home_score',
       'team_away_score', 'possession_home', 'possession_away',
       'total_shots_home', 'total_shots_away', 'shots_on_target_home',
       'shots_on_target_away', 'duels_won_home', 'duels_won_away',
       'prediction_team_home_win', 'prediction_draw',
       'prediction_team_away_win', 'prediction_quantity', 'location',
       'events_list', 'lineup_home', 'lineup_away'],
      dtype='object')

### Manipulating events_list, lineup_home and lineup_away columns into new columns

#### lineup_home manipulation

In [141]:
df["lineup_home"] = df["lineup_home"].str.replace("'", '"')
df["lineup_home"] = df["lineup_home"].apply(json.loads)

# transforming lineup_home list of dictionaries into new columns
def extract_player_data(lineup):
    if not lineup or not isinstance(lineup, list):
        return None, None
    player_names = [
        player["player_name"] for player in lineup if isinstance(player, dict)
    ]
    player_numbers = [
        player["player_number"] for player in lineup if isinstance(player, dict)
    ]
    if len(player_names) != len(player_numbers):
        print(lineup)
        return None, None
    return (player_names, player_numbers)


df["player_names_home"] = df.apply(
    lambda row: extract_player_data(row["lineup_home"])[0], axis=1
)
df["player_numbers_home"] = df.apply(
    lambda row: extract_player_data(row["lineup_home"])[1], axis=1
)

# retirar o espaçamento entre os valores
df["player_names_home"] = df["player_names_home"].apply(
    lambda x: list(map(str.strip, x))
)
df["player_numbers_home"] = df["player_numbers_home"].apply(
    lambda x: list(map(str.strip, x))
)

#### lineup_away manipulation

In [142]:
df["lineup_away"] = df["lineup_away"].str.replace("'", '"')
df["lineup_away"] = df["lineup_away"].apply(json.loads)

# transforming lineup_away list of dictionaries into new columns
def extract_player_data(lineup):
    if not lineup or not isinstance(lineup, list):
        return None, None
    player_names = [
        player["player_name"] for player in lineup if isinstance(player, dict)
    ]
    player_numbers = [
        player["player_number"] for player in lineup if isinstance(player, dict)
    ]
    if len(player_names) != len(player_numbers):
        print(lineup)
        return None, None
    return (player_names, player_numbers)


df["player_names_away"] = df.apply(
    lambda row: extract_player_data(row["lineup_away"])[0], axis=1
)
df["player_numbers_away"] = df.apply(
    lambda row: extract_player_data(row["lineup_away"])[1], axis=1
)

# retirar o espaçamento entre os valores
df["player_names_away"] = df["player_names_away"].apply(
    lambda x: list(map(str.strip, x))
)
df["player_numbers_away"] = df["player_numbers_away"].apply(
    lambda x: list(map(str.strip, x))
)

#### events_list manipulation

In [171]:
# getting the values from "events_list" columns and transforming to another dataframe.
df_events_list = pd.DataFrame(
    columns=[
        "team",
        "event_team",
        "event_time",
        "event_type",
        "action_player_1",
        "action_player_2",
    ]
)

for i, row in df.iterrows():
    events_list = ast.literal_eval(row["events_list"])
    for event in events_list:
        if event.get("event_team") == "home":
            team = row.team_name_home
        else:
            team = row.team_name_away
        df_events_list = df_events_list.append(
            {
                "team": team,
                "event_team": event.get("event_team"),
                "event_time": event.get("event_time"),
                "event_type": event.get("event_type"),
                "action_player_1": event.get("action_player_1"),
                "action_player_2": event.get("action_player_2"),
            },
            ignore_index=True,
        )

In [172]:
df_events_list

,team,event_team,event_time,event_type,action_player_1,action_player_2
0,Argentina,home,23',Penalty,Lionel Messi,Penalty
1,Argentina,home,36',Goal,Ángel Di María,Alexis Mac Allister
2,France,away,41',Substitution,Randal Kolo Muani,Ousmane Dembélé
3,France,away,41',Substitution,Marcus Thuram,Olivier Giroud
4,Argentina,home,52',Yellow card,Enzo Fernández,None
...,...,...,...,...,...,...
1038,Qatar,home,72',Substitution,Mohammed Muntari,Almoez Ali
1039,Ecuador,away,77',Substitution,José Cifuentes,Enner Valencia
1040,Qatar,home,78',Yellow card,Akram Afif,None
1041,Ecuador,away,90',Substitution,Kevin Rodríguez,Michael Estrada
1042,Ecuador,away,90',Substitution,Alan Franco,Moisés Caicedo

#### Creating some statistics

In [191]:
df_global_statistics = (
    df_events_list.event_type.value_counts()
    .to_frame()
    .reset_index()
    .rename({"index": "event_type", "event_type": "total"}, axis=1)
)
df_global_statistics

           event_type  total
0        Substitution    587
1         Yellow card    224
2                Goal    153
3                  PK     41
4             Penalty     17
5     Disallowed goal      9
6      Missed penalty      6
7  Second yellow card      3
8            Own goal      2
9            Red card      1

In [198]:
df_players_goals = df_events_list[
    (df_events_list.event_type == "Goal")
    | (df_events_list.event_type == "Penalty")
    | (df_events_list.event_type == "Own goal")
]
df_players_goals

,team,event_team,event_time,event_type,action_player_1,action_player_2
0,Argentina,home,23',Penalty,Lionel Messi,Penalty
1,Argentina,home,36',Goal,Ángel Di María,Alexis Mac Allister
9,France,away,80',Penalty,Kylian Mbappé,Penalty
10,France,away,81',Goal,Kylian Mbappé,Marcus Thuram
18,Argentina,home,108',Goal,Lionel Messi,None
...,...,...,...,...,...,...
1023,England,home,71',Goal,Marcus Rashford,Harry Kane
1026,England,home,90',Goal,Jack Grealish,Callum Wilson
1027,Iran,away,103',Penalty,Mehdi Taremi,Penalty
1030,Ecuador,away,16',Penalty,Enner Valencia,Penalty
1033,Ecuador,away,31',Goal,Enner Valencia,Ángelo Preciado

In [205]:
df_players_goals.team.value_counts().to_frame().reset_index().rename(
    {"index": "team", "team": "total_goals"}, axis=1
)

            team  total_goals
0         France           16
1      Argentina           15
2        England           13
3       Portugal           12
4    Netherlands           10
5          Spain            9
6        Croatia            8
7         Brazil            8
8        Morocco            6
9        Germany            6
10   South Korea            5
11         Japan            5
12         Ghana            5
13       Senegal            5
14        Serbia            5
15   Switzerland            5
16          Iran            4
17     Australia            4
18      Cameroon            4
19       Ecuador            4
20    Costa Rica            3
21           USA            3
22        Poland            3
23  Saudi Arabia            3
24       Uruguay            2
25        Mexico            2
26        Canada            2
27       Tunisia            1
28       Denmark            1
29         Qatar            1
30       Belgium            1
31         Wales            1

In [199]:
# artilheiro

df_players_goals.action_player_1.value_counts().to_frame().reset_index().rename(
    {"index": "player_name", "action_player_1": "total_goals"}, axis=1
)

          player_name  total_goals
0      Kylian Mbappé             8
1       Lionel Messi             7
2     Julián Álvarez             4
3     Olivier Giroud             4
4        Richarlison             3
..                ...          ...
113        Ao Tanaka             1
114   Hwang Hee-chan             1
115   Kim Young-gwon             1
116    Ricardo Horta             1
117    Jack Grealish             1

[118 rows x 2 columns]

In [200]:
# maior assistente
df_players_goals.action_player_2.value_counts().to_frame().reset_index().rename(
    {"index": "player_name", "action_player_1": "total_assists"}, axis=1
).drop(index=0)

            player_name  action_player_2
1           Harry Kane                 3
2         Ivan Perišić                 3
3         Lionel Messi                 3
4    Antoine Griezmann                 3
5      Bruno Fernandes                 3
..                  ...              ...
90          David Raum                 1
91        Kaoru Mitoma                 1
92           Junya Ito                 1
93   César Azpilicueta                 1
94     Ángelo Preciado                 1

[94 rows x 2 columns]